.form {
  background-color: rgb(226, 243, 250);
  padding: 20px;
  margin: 20px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.form_btn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 50px;
  background-color: rgb(73, 73, 113);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}

.form_btn:hover {
  background-color: rgb(52, 52, 91);
}

.form_options_wrap {
  display: flex;
  align-items: center;
  margin: 10px;
}

.form_options_wrap div {
  margin: 10px;
}

.form_select {
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 200px;
  outline: none;
}

.form_input {
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 300px;
  outline: none;
  margin: 10px;
}

.form_checkbox {
  cursor: pointer;
  padding: 20px;
}

.form_checkbox_label {
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .form {
    flex-direction: column;
    align-items: center;
  }

  .form_btn {
    width: 100%;
  }

  .form_input {
    width: 100%;
    margin: 10px 0;
  }

  .form_options_wrap {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .form_wrap {
    width: 100%;
    margin: 0;
  }

  .form_select {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
  }
}
